
h1 {
	text-align: center;
	color: green;
	font-size: 250%;
	margin-left: 100px;
}
h2 {
	text-align: left;
	color: green;
}
h3 {
	text-align: center;
	color: green;
}
#applyCSS {
    
       color: purple;
	   text-align: center;
    }
body {
	background-image: url("PizzaImage.jpg");
	background-color: #cccccc;
}
